<div class="sidebar-module sidebar-module-inset">
  <a href="/">
    <img src='/img/logofuncionotes.png'/>
    <h2>Funció</h2> 
  </a>
  <h4>/ˈfun’sió/</h4>
  <%- theme.about_widget_content %>
  <% if (theme.subtitle){ %>
    <h5><%= theme.subtitle %></h5>
  <% } %>
</div>
